* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(249, 246, 246);

}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 1, 20);
    color: white;
    position: fixed;
    width: 100%;
    top: 0%;

}

.logo {
    margin-left: 22px;
    font-size: 20px;

}
.logo h1{
    margin-left:20px;
}
.logo h1 span{
  color:orange;
}




nav ul {
    display: flex;
    align-items: center;
    margin-right: 11px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    margin-inline: 20px;
    font-size: 25px;
    color: white;
}

ul li a.active {
    color:orange;
    text-decoration: underline;

}
ul li a:hover {  
   color:orange;
     text-decoration: underline;
     transition: 0.5s ease;

}



.icon {
    display: none;
    font-size: 30px;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
}



.main {
    display: flex;
    justify-content: center;
    margin-top: 154px;
    flex-wrap: wrap;
    background-color: #fff;
    /* background-image: url(image/bgsell2.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0px 10px 15px 10px white;
   
}

.mainText {
    margin-top: 22px;
}

.mainText h1 {
    font-size: 55px;
    color:orange;
}

.mainText h2 {
    font-size: 33px;
}
.mainText h2 span{
color: orange;
}


.mainText p{
    font-size:23px;
}

.mainText button {
    width: 150px;
    height: 40px;
    border-radius:5px;
    background-color:orange;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 22px;
}

.mainText button:hover {
    border: 5px solid orange;
    color: black;
    background-color: transparent;
    cursor: pointer;
}


#shop .head h2{

    font-size:30px;
    text-decoration:underline;
    margin-bottom:0x;
}



.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top:0px;
}

.cards .crd img {
    width: 280px;
    height: 310px;
    margin-inline: 20px;
    border-radius: 10px;

}

.cards .crd img:hover {
    transition: 0.6s ease;
    height: 322px;
    cursor: pointer;
    box-shadow: 0px 0px 12px 10px rgb(202, 197, 197);
}

.cards .crd h3 {
    margin-top: 0px;
}

.cards .crd .rate {
    margin-top: -10px;
    color: rgb(255, 166, 1);
}


.cards .crd h3 {
    margin-top: 5px;
}

                     /* Customer Review */
.customer .head h2{
font-size: 30px;

}
.reviews {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reviews .reviewCard {

    width: 260px;
    height: 270px;
    margin-inline: 20px;
    margin-top: 22px;
    background-color: #f8f2f2;
    padding: 25px;
    text-align: center;

}

.reviewCard:hover {
    background-color:#67757c;
    transition: 1s ease;
    cursor: pointer;
}

.reviews .reviewCard img {
    width:70%;
    border-radius: 20%;
    margin-top: 22px;
}

.reviewCard button {
    width: 110px;
    height: 35px;
    background-color:#67757c ;
    border-radius:5px;
    color: white;
    font-size: 20px;
}

.blogContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.blog .head h2{
    font-size: 30px;
    text-decoration: underline;
}
.blogCard {
    margin-inline: 20px;
    background-color: #fff;
    width: 300px;
    margin-top: 23px;
    border-radius: 11px;
    padding: 8px;
    height: 370px;

}
.blogCard:hover{
    transition: 1s ease;
    background-color: rgb(161, 161, 161);
}
.blogCard img {
    width: 100%;
    height: 70%;
}

.blogCard a {
    padding: 8px 14px;
    background-color:orange;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    text-align: center;
   margin-top: -70px;
}
#contact .head h2 {
 font-size: 40px;
}

.contact input {
    width: 330px;
    background-color: transparent;
    border-bottom: 5px solid rgb(71, 66, 66);
    font-size: 18px;
    padding: 6px;
    margin-top:10px;
    box-shadow: 0px 0px 10px 6px grey;
}

.contact button {
    width: 120px;
    height: 35px;
    background-color:orange;
    color: white;
    border-radius:7px;
    margin-top: 13px;
    font-size: 18px;
    cursor: pointer;
}
.contact button:hover {
   
    background-color:green;
    color: rgb(230, 237, 230);
    border: 2px solid rgb(200, 210, 200);
   
}


.footer {
    display: flex;
    justify-content:space-between;
    padding: 10px;
    margin-top:30px;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    
  

}

.footer .text1 h3 {
    color:orange;
    font-size:35px;
    text-decoration: underline;
}
.footer .text h3 {
    color:orange;
    font-size:35px;
    text-decoration: underline;
  
}

.footer .text p{
  padding:25px;
  padding-top: 0px;  
  padding-bottom: 0px;
  font-size: 20px;
  margin-left: -20px;
}
.footer p:hover{   
    color:blue;
    transition: 0.6s;
  }



.head {
    text-align: center;
    padding: 72px;
}

.head span {
    color: rgb(252, 69, 3);
}

#footer{
    background-color: orange;
    text-align: center;
}
                                            /* Media Query start */
@media only screen and (max-width:600px) {
    nav ul {
        display: none;
    }

    ul li a {
        color: white;
        font-family:'Times New Roman', Times, serif;
        font-size: 25px;
    }
    ul li a:hover {
      font-size: 20px;
      transition: 0.6s;
      color: orange;
    }


    .icon {
        display: flex;
    }

    .showData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 55px;
        width: 100%;
        height: 240px;
        gap: 22px;
        padding: 0px;
        background-color: #727272;

    }

    .main {
        display: block;
        justify-content: center;
        text-align: center;

    }

    .main h1 {
        color:orange;
        font-size: 40px;
    }

    .main p {
        color: rgb(37, 37, 37);
    }

    .mainText h2 {
        top: 12px;
        font-size: 24px;
    }

    .mainText p {
        margin-top: -11px;
        padding: 1px;
    }

    .main img {
        margin-top: 22px;
    }

    .cards {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .cards .crd img {
        width: 60%;
    }


    .reviews {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .reviews .reviewCard {
        width: 60%;
        height: 280px;
        margin: auto;
        margin-top: 22px;
        background-color: #fff;
        padding: 25px;

    }
    .reviewCard:hover {
        background-color:#67757c;
        transition: 1s ease;
        cursor: pointer;
    }

    /* blog */
    .blogContainer {
        display: block;
        justify-content: center;
        text-align: center;
        margin-top:0px;
    }

    /* .blogCard {
        margin: auto;
        background-color: #fff;
        width: 60%;
        margin-top: 23px;
        border-radius: 11px;
        padding: 14px;
        height:18%;

    } */
    .blogCard {
        margin-left:12%;
        background-color: #fff;
        width: 300px;
        margin-top:10px;
        border-radius: 11px;
        padding: 10px;
        height:430px;
    
    }



    .contact input {
        width: 70%;
        margin-left:5%;
    }

}

@media only screen and (max-width:400px) {
    .main img {
        width: 95%;

    }
}

@media only screen and (max-width:1000px) {
    .mainText {
        text-align: center;
    }
}


/* itemPage */

.itemPage {

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 25px;
    margin-top: 48px;

}

.itemPage img {
    width: 360px;
}

.itemPage input {
    width: 30px;
    height: 20px;
    font-size: 18px;
    cursor: pointer;
}

.itemText {
    margin-inline: 22px;
}

.offer h3 {
    color: rgb(2, 160, 2);
}

.itemPage a {
    padding: 5px 26px;
    background-color:green;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
    cursor: pointer;
}



/* buyPage */

.buyPage {
    display: none;
    position: absolute;
    top: -20%;
    right: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, 40%);

    background-color: #fff;
    border-radius: 5px;

}

.buyPage input {
    width: 95%;
    padding: 4px;
    font-size: 17px;
    border: 1px solid black;
    margin-top: 11px;
    outline: none;
}

.buyPage select {
    width: 95%;
    padding: 5px;
    font-size: 17px;
}

.buyPage button {
    width: 120px;
    height: 35px;
    border: none;
    background-color: rgb(1, 104, 104);
    color: white;
    font-size: 18px;
    margin-top: 22px;
    cursor: pointer;
}

.buyPage .cross {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 4px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    background-color: #bebdbd;
    border-radius: 4px;

}



@media only screen and (max-width:600px) {

    .itemPage img {
        width: 70%;
    }

    /* .buyPage {} */
}
